body {
	color: #333;
	line-height: 1.4;
	font-size: 1.2em;
}

h1, h2, h3, h4 {
	line-height: 1.2;
}

h1 {
	border-bottom: 1px solid #333;
}

a {
	color: #26f;
	text-decoration: none;
}

a:visited {
	color: #029;
}

a:hover {
	text-decoration: underline;
}

code, pre {
	background-color: #eee;
}

blockquote {
	font-style: italic;
}

tr:nth-child(odd) {
	background-color: #eee;
}

td {
	padding: 0.2em;
}

.thumbnail img {
	width: 15em;
}

.thumbnail, .thumbnail2 {
	text-align: center;
}

@for $i from 1 through 10 {
.tag-size-#{$i} {
	font-size: percentage(0.4 + $i / 5) ;
	vertical-align: middle;
}
}
@for $i from 11 through 30 {
.tag-size-#{$i} {
	font-size: percentage(0.4 + 10 / 5) ;
	vertical-align: middle;
}
}
